.botao-formulario {
	background-color: #6278F7;
	color: #FFF;
	border: none;
	cursor: pointer;
	padding: 1.5rem 3rem;
	border-radius: 10px;
	font-weight: 700;
	font-size: 1.125rem;
	margin: 2rem 0;
}

.botao-formulario:hover{
	color: #95FFD4;
}
