.formulario {
	display: flex;
	justify-content: center;
	margin: 5rem 0;
}

.formulario form{
	width: 80%;
	background-color: #F2F2F2;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.08);
	padding: 2.5rem 4rem;
	border-radius: 20px;
}

.formulario h2{
	font-size: 2rem;
	color: #212121;
}
